# API
API_KEY=changeme
FASTAPI_PORT=8082
FASTAPI_WORKERS=4

# GCP
GOOGLE_CLOUD_PROJECT=your-gcp-project-id
DOCKER_REGISTRY=<region>-docker.pkg.dev/<your-gcp-project>/inventory-shelf-management
IMAGE_TAG=1.0

# Cloud Storage
CLOUD_STORAGE_PROVIDER=local        # local | gcs
CLOUD_STORAGE_BUCKET=your-bucket
CLOUD_STORAGE_CREDENTIALS=

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=app_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# Redis / Celery
REDIS_PASSWORD=changeme
REDIS_URL=redis://:changeme@localhost:6385/0
CELERY_WORKER_CONCURRENCY=4

# Models & artifacts
CLASSES_PATH=classes.txt
SAVE_VS_INPUT=false

# Working dirs
REF_CACHE_PATH=cache

# Triton
TRITON_HTTP_HOST=localhost
TRITON_HTTP_PORT=8000
TRITON_GRPC_HOST=localhost
TRITON_GRPC_PORT=8001

TRITON_SHELF_MODEL=model_a
TRITON_PRODUCT_MODEL=model_b
TRITON_CLASSIFIER_MODEL=model_c

# Data directory
PLANOGRAM_CSV_DIR=data
